/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #fff; /* Adjust background color as needed */
  }
  
  .left-section {
    display: flex;
    align-items: center;
  }
  
  .company-name {
    color: #1D1D1D;
    font-weight: bold;
    margin-right: 20px;
  }
  
  .nav-link {
    margin-right: 20px;
    text-decoration: none;
  }
  
  .right-section {
    display: flex;
    align-items: center;
  }
  
  .nav-btn {
    margin-right: 10px;
    padding: 5px 10px;
  }
  
  .menu-icon {
    font-size: 24px;
    cursor: pointer;
  }
  